
body {
    background-image:url('../imgs/logo.png');
    color: #00fff7;
    background-repeat:no-repeat;
    background-size:cover;
}

h1 {
    color: grey;
    text-align: center;
    font: large;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width:0;
}

.input {


}
